<div class="row" style="text-align:center;background-color: #cccccc; background-size:100%;display:inline-block;width:100%;height:100%;margin-right: auto;margin-left: auto; background:url(../../assets/img/slider1.png);">

  <div class="card col-sm-offset-4 col-sm-4 col-xs-12" style="padding:30px;box-shadow: 0px 2px 4px 3px grey;margin-top:10%;" >
    <div class="col-md-12">
      <img src="../../assets/img/ayushyaalogo1.jpg" alt="" style="width:100%">
      <br />
      <br />
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
      <input id="email" type="text" class="form-control" name="username" placeholder="Phone" [(ngModel)]="phone">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="password" type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password" >
    </div>
    <div class="input-group" style="width:100%;">
      <button type="button" class="btn btn-info" (click)="doLogin()"  style="width:100%; background-color: #336601; border-color: #214102">Login</button>
    </div>
    <div class="input-group" style="width:100%;">
      <a style="float:left; cursor: pointer;" (click)="openSignup()">Signup</a>
      <a style="float:right; cursor: pointer;" (click)="openForgotPass()">Forgot Password</a>
    </div>
  </div>

</div>

<div id="overlayLoading" *ngIf="loading">
    <img class="pl-3" src="../../assets/img/loading.gif" />
</div>
