<div class="row" >

  <div class="card  col-sm-offset-1 col-sm-10 col-xs-12" style="padding:20px;box-shadow: 0px 2px 4px 3px grey;margin-top:0%; width: 60%; left: 20%; margin: auto;" >
      <div class="tabbable-line">
        <ul class="col-sm-12 nav nav-tabs " style="display: inline-flex;">
          <li class="col-sm-6 active">
            <a href="#tab_default_1" data-toggle="tab" class="tab">
            <i class="fa fa-user" style="font-size:30px;"></i>  Self </a>

          </li>
          <li class="col-sm-6">
            <a href="#tab_default_2" data-toggle="tab" class="tab">
            <i class="fa fa-user-plus" style="font-size:30px;margin-right:10px"></i> Other</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_default_1">
            <div class="form-group">
              <div>
                <span>
                  <label style="color:black;margin-top:15px">Select Number of Patients:</label>  
                  <select class="form-control"  name="status" [(ngModel)]="no_of_patient"   style="width:20%; display: inline;">                
                      <option *ngFor="let number of select_numbertoken" [ngValue]="number.value"
                      [selected]="number.label == 1" >{{number.label}}</option>
                  </select>
                </span>
              </div>
            </div>
            <div class="input-group" style="width:100%;">
              <button type="button" class="btn btn-info" style="width:100%;margin-top:10px; background-color: #336601; border-color: #1d3900" (click)="submitForm('self')">Submit</button>
            </div>
          </div>
          <div class="tab-pane" id="tab_default_2">
            <div class="form-group">
              <label style="color: black;margin-top: 10px;">Full Name</label>
              <br>
              <input type="text" class="form-control" placeholder="Full Name" style="width:100%;" [(ngModel)]="name">
              <br>
              <label style="color: black;">Phone Number</label>
              <br>
              <input type="text" class="form-control" placeholder="Phone Number" style="width:100%;" [(ngModel)]="phone">
              <br>
              <label style="color: black;">Date of Birth </label>
              <br>
              <input type="date" class="form-control" placeholder="Enter your Date of Birth" style="width:100%;" [(ngModel)]="dob">
              <br>
              <label style="color: black;">Email</label>
              <br>
              <input type="text" class="form-control" placeholder="Enter your eamil id" style="width:100%;" [(ngModel)]="email">
              <br>
              <span>
              <label style="color: black;">Select Number of Patients: </label>
              <select class="form-control"  name="status" [(ngModel)]="no_of_patient"   style="width:20%; display: inline;">                
                <option *ngFor="let number of select_numbertoken" [ngValue]="number.value"
                >{{number.label}}</option> 
              </select>
              </span>
            </div>
            <div class="input-group" style="width:100%;">
              <button type="button" class="btn btn-info" style="width:100%;margin-top:10px; background-color: #336601; border-color: #1d3900" (click)="submitForm('other')">Submit</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div id="overlayLoading" *ngIf="loading">
    <img class="pl-3" src="../../assets/img/loading.gif" />
</div>