<div class="row" style="text-align:center;background-color: #cccccc; background-size:100%;display:inline-block;width:100%;height:100%;margin-right: auto;margin-left: auto; background:url(../../assets/img/slider1.png);">

  <div class="card col-sm-offset-4 col-sm-4 col-xs-12" style="padding:30px;box-shadow: 0px 2px 4px 3px grey;margin-top:14%;" *ngIf="otpFlag">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
      <input id="email" type="text" class="form-control" name="username" placeholder="Phone" [(ngModel)]="phone">
    </div>
    <div class="input-group" style="width:100%;">
      <button type="button" class="btn btn-info" style="width:100%; background-color: #336601; border-color: #214102" (click)="getOtp()">Get OTP</button>
    </div>
    <div class="input-group" style="width:100%;">
        <a style="float:left" (click)="openLogin()">Login</a>
        <a style="float:right" (click)="openForgotPass()">Forgot Password</a>
      </div>
  </div>

  <div class="card col-sm-offset-4 col-sm-4 col-xs-12" style="padding:20px;box-shadow: 0px 2px 4px 3px grey;margin-top:14%;" *ngIf="verifyOtpFlag">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
      <input id="email" type="text" class="form-control" name="otp" placeholder="OTP" [(ngModel)]="otp">
    </div>
    <div class="input-group" style="width:100%;">
      <button type="button" class="btn btn-info" style="width:100%;cursor:pointer; background-color: #336601; border-color: #214102" (click)="verifyOtp()">Verify OTP</button>
    </div>
    <a (click)="getOtp()" style="margin-top:10px;cursor:pointer;">Resend OTP</a>
    <br />
    <div class="input-group" style="width:100%;">
        <a style="float:left" (click)="openLogin()">Login</a>
        <a style="float:right" (click)="openForgotPass()">Forgot Password</a>
      </div>
  </div>

  <div class="card col-sm-offset-4 col-sm-4 col-xs-12" style="padding:20px;box-shadow: 0px 2px 4px 3px grey;margin-top:14%;" *ngIf="changePassFlag">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input type="text" class="form-control" name="username" placeholder="Name" [(ngModel)]="name">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
      <input type="text" class="form-control" name="phone" placeholder="Phone" [ngModel]="phone" readonly>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input type="text" class="form-control" name="email" placeholder="email" [(ngModel)]="email">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      <input type="date" class="form-control" name="dob" placeholder="Date of Birth" [(ngModel)]="dob">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password" >
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="password" class="form-control" name="con_pwd" placeholder="Confirm Password" [(ngModel)]="conf_pwd" >
    </div>
    <div class="input-group" style="width:100%;">
      <button type="button" class="btn btn-info" (click)="doSignup()"  style="width:100%; background-color: #336601; border-color: #214102">Submit</button>
    </div>
    <div class="input-group" style="width:100%;">
        <a style="float:left" (click)="openLogin()">Already had account? Login.</a>
      </div>
  </div>

</div>

<div id="overlayLoading" *ngIf="loading">
    <img class="pl-3" src="../../assets/img/loading.gif" />
</div>
