<div class="row" >

  <div class="card  col-sm-offset-1 col-sm-10 col-xs-12" style="padding:20px;box-shadow: 0px 2px 4px 3px grey;margin-top:0%; width: 80%; left: 10%; margin: auto;" >
      <div class="tabbable-line">
        <ul class="col-sm-12 nav nav-tabs " style="display: inline-flex;">
          <li class="col-sm-4 active">
            <a href="#tab_default_1" data-toggle="tab" class="tab">
            <i class="fa fa-user" style="font-size:30px;"></i> My Account</a>

          </li>
          <li class="col-sm-4">
            <a href="#tab_default_2" data-toggle="tab" class="tab">
            <i class="fa fa-database" style="font-size:30px;margin-right:10px"></i>My Tokens</a>
          </li>
          <li class="col-sm-4">
            <a href="#tab_default_3" data-toggle="tab" class="tab">
            <i class="fa fa-unlock-alt" style="font-size:30px;margin-right:10px"></i>Change Password</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_default_1">
            <div class="form-group"> 
              <label style="color: black;margin-top: 10px;">Full Name</label>
              <br>
              <input type="text" class="form-control" placeholder="Full Name" style="width:100%;" [(ngModel)]="name">
              <br>
              <label style="color: black;">Email</label>
              <br>
              <input type="text" class="form-control" placeholder="Enter your eamil id" style="width:100%;" [(ngModel)]="email">
              <br>
              <label style="color: black;">Date of Birth </label>
              <br>
              <input type="date" class="form-control" placeholder="Enter your Date of Birth" style="width:100%;" [(ngModel)]="dob">
              <br>
              <label style="color: black;">Phone Number</label>
              <br>
              <input type="text" class="form-control" placeholder="Phone Number" style="width:100%;" [ngModel]="phone_no" readonly>
            </div>
            <div class="input-group" style="width:100%;">
              <button type="button" class="btn btn-info" style="width:100%;margin-top:10px;  background-color: #336601; border-color: #1d3900" (click)="myAcoountForm()">Submit</button>
            </div>
          </div>
          <div class="tab-pane" id="tab_default_2">
            <div class="card  col-sm-12" style="margin-top:30px;">
              <i class="fa fa-repeat" aria-hidden="true" (click)="ngOnInit()" style="position: absolute;right: 25px;font-size: 24px;top: -20px;"></i>
              <div class="" style="padding:10px; border-left: #336601 solid 5px;background: #cce2e3;width: 95%;margin: auto;margin-top: auto;margin-top: 15px;" *ngFor="let x of allTodaysToken">
                <div>
                <p style="width: calc(50% - 10px);display: inline-block;text-align: left;"><span style="color:#336601">Token ID :</span>#{{x.token_number}}</p>
                <p style="width: calc(50% - 10px);display: inline-block;text-align: right;">{{x.start_time}}</p>

              </div>
              <div>
               <div style="width: calc(70% - 10px);display: inline-block;text-align: left;">{{x.name}}</div>
               <div style="width: calc(30% - 10px);display: inline-block;text-align: right;color:green;" *ngIf="x.status=='Completed'">{{x.status}}</div>
             </div>
              </div>
              <div class="" *ngIf="allTodaysToken.length==0" style="margin-top: 50px;text-align: center;font-size: 24px;">
                {{errorMessage}}
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab_default_3">
            <div class="form-group">
              <label style="color:black;margin-top:10px">Old Password</label>
              <br>
              <input type="password" class="form-control" placeholder="Old Password" style="width:100%;margin-top:5px;" [(ngModel)]="old_pwd">
              <br>
              <label style="color: black;">New Password</label>
              <br>
              <input type="password" class="form-control" placeholder="New Password" style="width:100%;" [(ngModel)]="new_pwd">
              <br>
              <label style="color: black;">Confirm Password</label>
              <br>
              <input type="password" class="form-control" placeholder="Confirm Password" style="width:100%;" [(ngModel)]="conf_pwd">
            </div>
            <div class="input-group" style="width:100%;">
              <button type="button" class="btn btn-info" style="width:100%;margin-top:10px; background-color: #336601; border-color: #1d3900" (click)="changePwdForm()">Submit</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div id="overlayLoading" *ngIf="loading">
    <img class="pl-3" src="../../assets/img/loading.gif" />
</div>