<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-danger text-center">
                                <i class="ti-server"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <h4>Today Pending Token</h4>
                                {{TodayTokenpending?.length}}
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-warning text-center">
                                <i class="ti-server"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <h4>Today Completed Token</h4>
                                {{Todaycompletedtoken?.length}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin: auto;">        
        <div class="" >
            <div class="card col-xs-12" >        
                <div>
                    <h3 class="col-xs-12" style="margin-top: 0%;">Today Slot</h3>
                </div>
                <div class="row">                        
                    <div class="form-group col-sm-3">
                        <select class="form-control"  name="status" [(ngModel)]="time_slot" (ngModelChange)="showD(time_slot)">
                            <option value="" selected disabled>Select Slot:</option>
                            <option [value]="1" >Morning Time</option>
                            <option [value]="2" >Evening Time</option> 
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="time" class="form-control" id="time1" [(ngModel)]="start_time" name="val" atp-time-picker value="00:00" placeholder="Start Time - " >
                    </div>

                    <div class="col-sm-3">
                        <input type="time" class="form-control" id="time2" [(ngModel)]="end_time" name="val" atp-time-picker value="00:00" placeholder="End Time - " >

                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-info" style="width:100%" (click)="slot_time()" >Submit</button>
                    </div>
                </div>
            </div> 
            
            <div class="card col-xs-12">            
                <div class="container" style="width: 100%;">
                    <div class="col-sm-6">
                        <h3>Today Slot Time</h3>
                    </div>
                    <div class="col-sm-6" style="margin-top: 2%;text-align: right;">
                            <h3 class="title" style="display:inline">Token Issual</h3>
                            <button class="btn btn-default" [ngClass]="{'green_color':ONOFFslot}" (click)="OnnOffSlot('1')">ON</button>
                            <button class="btn btn-default" (click)="OnnOffSlot('0')" [ngClass]="{'red_color': !ONOFFslot}">OFF</button>
                    </div>
                    <table class="table table-striped">
                        <thead>  
                            <td class="list">Slot</td>  
                            <td class="list">Start Time</td>
                            <td class="list">End Time</td>                        
                            <td class="list">Message</td>
                            <td class="list">Action</td>
                        </thead>
                        <tbody>
                            <tr *ngFor="let time of slottiming;let i=index;"  >
                                <td class="list">{{time.slot}}</td>
                                <td class="list">{{time.start_time}}</td>
                                <td class="list">{{time.end_time}}</td>                  
                                <td>
                                    <input type="text" class="form-control" placeholder="Enter SMS Text..." name="send_message"  [(ngModel)]="slottiming[i].send_message" required>
                                </td>
                                <td class="list">
                                    <button class="btn btn-danger" *ngIf="time.status == '1'" (click)="cacelledSlot(time.slot,slottiming[i].send_message)" >Cancel</button>
                                    <p *ngIf="time.status == '0'">Canceled</p>
                                </td>                                   
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
    </div>
</div>

