<div class="row" >

  <div class="card  col-sm-12" style="padding:20px;box-shadow: 0px 2px 4px 3px grey;margin-top:5%;width: 60%;margin: auto;position: absolute;left: 20%;" >
    <i class="fa fa-repeat" aria-hidden="true" (click)="ngOnInit()" style="position: absolute;right: 25px;font-size: 24px;"></i>
    <div style="text-align:center">
      <p style="font-size:25px;">CURRENT TOKEN</p>
    </div>
      <div style="text-align:center">
        <span class="dot"><p style="margin-top: 2px;color: white;font-size: 30px;font-family: sans-serif; margin: auto;">{{currentToken}}</p></span>
      </div>
      <br />
      <div style="text-align:center">
        <p style="font-size:25px;">UPCOMING TOKEN</p>
      </div>
      <div class="row">
      <div class="col-md-12" style="text-align:center">
        <div class="col-md-6" style="text-align:center">
          <span class="dot1"><p style="margin-top: 2px;color: white;font-size: 20px;font-family: sans-serif; margin: auto;">{{upcommingToken1}}</p></span> 
        </div>
        <div class="col-md-6" style="text-align:center">
          <span class="dot1"><p style="margin-top: 2px;color: white;font-size: 20px;font-family: sans-serif; margin: auto;">{{upcommingToken2}}</p></span> 
        </div>
      </div>
    </div>

      <div class="" *ngIf="allTodaysToken.length>0">


      <div class="" style="padding:10px; border-left: #336601 solid 5px;background: #cce2e3;width: 95%;margin: auto;margin-top: auto;margin-top: 15px;" *ngFor="let x of allTodaysToken">
        <div>
        <p style="width: calc(50% - 10px);display: inline-block;text-align: left;"><span style="color:#336601">Token ID :</span>#{{x.token_number}}</p>
        <p style="width: calc(50% - 10px);display: inline-block;text-align: right;">{{x.start_time}}</p>

      </div>
      <div>
       <div style="width: calc(70% - 10px);display: inline-block;text-align: left;">{{x.name}}</div>
       <div style="width: calc(30% - 10px);display: inline-block;text-align: right;color:green;" *ngIf="x.status=='Completed'">{{x.status}}</div>
     </div>
      </div>
      </div>
      <div class="" *ngIf="allTodaysToken.length==0" style="margin-top: 50px;text-align: center;font-size: 24px;">
        {{errorMessage}}
      </div>
  </div>
</div>

<div id="overlayLoading" *ngIf="loading">
    <img class="pl-3" src="../../assets/img/loading.gif" />
</div>
