.dot {
  height: 60%;
  width: 60%;
  background-color: #c11108e6;
  border-radius: 5%;
  display: inline-block;
  border-style: solid;
  border-color: #ac1515;
}

.dot1 {
  height: 60%;
  width: 90%;
  background-color: #336601;
  border-radius: 5%;
  display: inline-block;
  border-style: solid;
  border-color: #035a07;
}